---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import Hero from "~/components/widgets/Hero.astro";
import BasicCTA from "~/components/widgets/BasicCTA.astro";
import BasicFeatures from "~/components/widgets/BasicFeatures.astro";
import StepsFeatures from "~/components/widgets/StepsFeatures.astro";
import BasicFAQs from "~/components/widgets/BasicFAQs.astro";
import TwoColsFeatures from "~/components/widgets/TwoColsFeatures.astro";
import StepsLeft from "~/components/widgets/StepsLeft.astro";
import BlogFeaturesPosts from "~/components/widgets/BlogFeaturesPosts.astro";
import Stats from "~/components/widgets/Stats.astro";
import FeaturedMovies from "~/components/widgets/FeaturedMovies.astro";

const title = `${SITE.name} — Filmes e séries`;
const description =
  "🚀 MovieWorld oferece a possibilidade de assistir filmes e séries com facilidade no seu browser.";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main class="mt-20">
    <Hero />
    <FeaturedMovies />
    <!--<BasicFeatures />
    <StepsLeft />
    <TwoColsFeatures />
    <StepsFeatures />
    <BlogFeaturesPosts />
    <BasicFAQs />
    <Stats />
    <BasicCTA />-->
  </main>
</Layout>
